extends index.pug

block content
  .container
    .jumbotron
      h1.display-3 Blo<span class="vim-caret">g</span>
      p.lead
        | I have #{experience} years of hands-on experience efficiently coding websites 
        | and applications using modern HTML, CSS, and JavaScript. 
        | I love to learn new languages and understand technologies. 
        | Whenever I build anything I test every change I make in the code while building websites. 
        | I use the  inspector in the Chrome browser as a tool to debug my code.
      p
        a.btn.btn-success.btn-shadow.px-3.my-2.ml-0.text-left(href='#', role='button') Contact Me
    .row.marketing
      .col-lg-4
        h4 Experience
        p.
          I have 10 years of hands-on experience efficiently coding websites 
          and applications using modern HTML, CSS, and JavaScript. I love to 
          learn new languages and understand technologies.
      .col-lg-4  
        h4 Education
        p.
          I went to Ozark Technical Community college for 4 years and earned
          an Associates of Applied Science in Graphic Design. And I am now enrolled
          at Missouri State University as a Computer Science Application Engineer
          student.
      .col-lg-4  
        h4 Portfolio
        p. 
          I have example projects and websites I've built for clients.