// Footer
footer.py-5(class='bg-' + theme_style)
  .container
    p.m-0.text-center
      Copyright © #{company} #{year}
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')