head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title= company
  // Bootstrap theme
  if theme
    link(href='/css/themes/' + theme, rel="stylesheet")
  else 
    link(href='/css/themes/default.css', rel='stylesheet')
  // fontawesome icons
  link(href='https://use.fontawesome.com/releases/v5.0.8/css/all.css', rel='stylesheet')
  // Custom styles for this template
  link(href='/css/style.css', rel='stylesheet')