// .row
!="</div>" 
// .container-liquid
!="</div>"

// Bootstrap core JavaScript
script(src="/vendor/jquery/jquery.min.js")
script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
script(src="/js/vendor/popper.min.js")

// Icons 
script(src="https://unpkg.com/feather-icons/dist/feather.min.js")

// Graphs
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js")
    
// Custom functions
script(src="/js/functions.js")
script(src="/js/cars.js")

script.
    init()
      
    
!="</body>"
!="</html>"